            * {
            margin: 0;
            padding: 0;
        }
        
        header {
            background-image: url(images/arnold-francisca-f77Bh3inUpE-unsplash.jpg);
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
        
        ul {
            list-style-type: none;
            float: right;
            margin-top: 25px;
        }
        
        ul li {
            display: inline-block;
        }
        
        ul li a {
            text-decoration: none;
            color: white;
            padding: 5px 20px;
            border: 1px solid white;
            transition: 0.2s;
        }
        
        ul li a:hover {
            background-color: white;
            color: black;
        }
        
        ul li .active a {
            background-color: white;
            color: black;
        }
        
        .logo img {
            float: left;
            width: auto;
            height: 50px;
        }
        
        .main {
            max-width: 1800px;
            margin: auto;
        }
        
        .tittle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .tittle h1 {
            color: white;
            font-size: 50px;
        }
        
        .button {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .btn{
            border: 0.5px solid white;
            padding: 10px 30px;
            color: white;
            text-decoration: none;
            /* transition: 0.2s; */
            
        }

        .btn:hover{
            background-color:white;
            color: black;
            

        }